
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.navListContainer{
  display:flex;
}
.bg-green{
  background:#006837!important;
  color:white;
}
.banner_wrapper{
  background-image:url("https://zefamfb.com/images/smiling-office-guy\ \(1\).png");
  background-position: top;
}
.ContactBg{
  position:absolute;
  background-position: top;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://zefamfb.com/images/customer-care\ \(1\).png");
}
.openingBg{
  position:absolute;
  background-position: top;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://zefamfb.com/images/open-account.png");
}
.introBg{
  position:absolute;
  background-position: top;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://zefamfb.com/images/smiling-office-guy\ \(1\).png");
}
.SlideBg{
  position:absolute;
  background-position: top;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.successBg{
  position:absolute;
  background-position: top;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://zefamfb.com/images/success-stories.png");
}
.CareersBg{
  position:absolute;
  background-position: top;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://zefamfb.com/images/careers.png");
}
.bg-lightgrey{
  background: rgba(255, 255, 255, 0.748);
}
.section2-overlay{
  z-index:100;
  background:whitesmoke;
}
.home-slide{
  transform: translate3d(0px, 0px, 0px) scale(1.02944, 1.02944);
  transform-origin: 0% 0% 0px;
}

.introContent{
  z-index: 1;
}
.introBg::after,.openingBg::after,.ContactBg:after,.CareersBg:after,.successBg::after,.SlideBg::after{
  content:"";
  position:absolute;
  inset:0;
  background-image: linear-gradient(0deg, hsla(250,5%,5%,0.8),hsla(250,3%,3%,0.2));
}
.bg-brown{
  background:#252d3a;
}
.text-black{
 color: rgba(0, 0, 0, 0.702) !important;
}
.bg-whitesmoke{
  background:whitesmoke;
}
.c-brown,.c-olive{
  color:darkolivegreen;
}
.bg-olive{
  background:darkolivegreen!important;
}
.text-green{
  color:#006837;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.applyBtn{
  background:#006837;
}
.read-the-docs {
  color: #888;
}
.team-card{
  cursor:pointer;
}
.team-card:hover .team-caption{
  max-height: 100%;
  visibility: visible;
} 
.team-caption {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 2s ease;
}

.team-caption:hover .caption-p{
  color:darkolivegreen;
}
.home-testimony-card:hover{
  background-color: rgba(255, 217, 0, 0.671);
}
.home-testimony-card{
  background: #006837;
  transition: background-color 2s ease;
}
.caption-p{
  color:white;
}
.bg-thank-You{
  background-image:linear-gradient(160deg, #006837 40%, white 100%,  #006837 100%)
}
/* .team-caption{
  height: 0;
} */
.translate-text{
  z-index: 100;
  transform:translateY(0) scale(1); 
  opacity:1;
  animation:translateAnimationTwo 1s ease;
}
.loan_cover,.caption{
  background: rgba(255, 255, 255, 0.748);
}
.bg_transparent{
  background:transparent;
}
.mobilenav{
  display:none;
}
.desktopNav{
  display:flex;
}
.slick-next {
  right: 0!important;
}
.slick-prev{
  left: 0!important;
}
.text-chairmanmessage{
  line-height: 55px;
  font-size: 3.75rem;
}
@media only screen and (min-width:320px) and (max-width:767px){
  .text-chairmanmessage{
    line-height: 55px;
    font-size: 3.25rem;
  }
  .navListContainer{
    display:none;
  }
  .desktopNav{
    display:none;
  }
  .navList{
    line-height: 39px;
  }
  .loan_cover,.bg_transparent{
    background:#006837;
    z-index: 100;
  }
}

@keyframes  translateAnimationTwo {
  0% {
    transform: translateY(-50%) ;
    opacity: 0;
  }
  100%{
    transform: translateY(0) ;
    opacity: 1;
  }
}